<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- List of games -->

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img src="../../../assets/game-imgs/the-forest.jpg" alt="thumbnail" class="game-thumbnail" />
    </div>
    <div class="game-description">
        <p class="game-name">The Forest</p>
        <div class="game-platforms">
            <img src="../../../assets/platform-icons/steam.png" 
            class="game-platform"
            alt="slug">
        </div>
    </div>
  </div>

  <div class="game">
    <div class="game-thumb-container">
      <img src="../../../assets/game-imgs/gta.jpg" alt="thumbnail" class="game-thumbnail" />
    </div>
    <div class="game-description">
        <p class="game-name">Grand Theft Auto V</p>
        <div class="game-platforms">
            <img src="../../../assets/platform-icons/playstation.png" 
            class="game-platform"
            alt="slug">
            <img src="../../../assets/platform-icons/steam.png" 
            class="game-platform"
            alt="slug">
            <img src="../../../assets/platform-icons/xbox.png" 
            class="game-platform"
            alt="slug">
        </div>
    </div>
  </div>

  <div class="game">
    <div class="game-thumb-container">
      <img src="../../../assets/game-imgs/pes.jpg" alt="thumbnail" class="game-thumbnail" />
    </div>
    <div class="game-description">
        <p class="game-name">Pro Evolution Soccer 2021</p>
        <div class="game-platforms">
            <img src="../../../assets/platform-icons/steam.png" 
            class="game-platform"
            alt="slug">
            <img src="../../../assets/platform-icons/playstation.png" 
            class="game-platform"
            alt="slug">
        </div>
    </div>
  </div>

  <div class="game">
    <div class="game-thumb-container">
      <img src="../../../assets/game-imgs/animal-crossing.jpg" alt="thumbnail" class="game-thumbnail" />
    </div>
    <div class="game-description">
        <p class="game-name">Animal Crossing</p>
        <div class="game-platforms">
            <img src="../../../assets/platform-icons/nintendo-switch.png" 
            class="game-platform"
            alt="slug">
        </div>
    </div>
  </div>

  <div class="game">
    <div class="game-thumb-container">
      <img src="../../../assets/game-imgs/fifa.jpeg" alt="thumbnail" class="game-thumbnail" />
    </div>
    <div class="game-description">
        <p class="game-name">Fifa 22</p>
        <div class="game-platforms">
            <img src="../../../assets/platform-icons/steam.png" 
            class="game-platform"
            alt="slug">
            <img src="../../../assets/platform-icons/playstation.png" 
            class="game-platform"
            alt="slug">
        </div>
    </div>
  </div>

  <div class="game">
    <div class="game-thumb-container">
      <img src="../../../assets/game-imgs/lost-ark.jpg" alt="thumbnail" class="game-thumbnail" />
    </div>
    <div class="game-description">
        <p class="game-name">Lost Ark</p>
        <div class="game-platforms">
            <img src="../../../assets/platform-icons/steam.png" 
            class="game-platform"
            alt="slug">
        </div>
    </div>
  </div>

  <div class="game">
    <div class="game-thumb-container">
      <img src="../../../assets/game-imgs/nier-automata.jpg" alt="thumbnail" class="game-thumbnail" />
    </div>
    <div class="game-description">
        <p class="game-name">Nier: Automata</p>
        <div class="game-platforms">
            <img src="../../../assets/platform-icons/steam.png" 
            class="game-platform"
            alt="slug">
            <img src="../../../assets/platform-icons/playstation.png" 
            class="game-platform"
            alt="slug">
        </div>
    </div>
  </div>

</div>
